:root{
    --fff: #ddffeb;
    --yel: #ffca00;
    --bla: #1b1b22;
}

@media(max-width: 800px){
    body{
        overflow: hidden;

    }
    .nav_items{
        display: block;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 70px;
        left: -10000px;
        background: var(--bla);
        transition: all .3s ease;
    }
    .nav_items.active{
        left: 0px;
        z-index: 3;
    }
    .nav_items li{
        width: 100%;
        text-align: center;
        margin-top: 20px !important;
    }
    .nav_items li:first-child{
        margin-top: 50px !important;
    }
  
    .nav_items li a{
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
    }
    .hambarger{
        visibility: visible;
        opacity: 1;
    }
    .hambarger{
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .hambarger i{
        width: 35px;
        height: 35px;
        background: var(--fff);
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        font-size: 25px;
        color: var(--bla);
        position: absolute;
        cursor: pointer;
    }
    .hambarger i:last-child{
        opacity: 0;
        visibility: hidden;
    }
    .hambarger i.active:last-child{
        opacity: 1;
        visibility: visible;
    }
    /* Banner */
    .bn1_title{
        font-size: 15px !important;
    }
    .bn2_title{
        font-size: 50px !important;
        line-height: 60px;
    }
    .bn1_title, .bn2_title{
        width: 100%;
        text-align: center;
    }
    .bn_text{
        text-align: center;
        width: 100%;
        padding: 0 30px !important;
    }
    
    .butn{

        justify-content: center;
    }
}